@use 'colors';
@use 'basis';

.header{
    background-color: colors.$primary;
    color: colors.$terciary;

}

.logo{
    padding-left: 10px;
    padding-top: 60px;

    .icon{
        height: 100px;
    }
}


.name{
    height: 20px;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

.menu {
    background-color: colors.$primary;
  
      &__list {
          margin: 0;
          padding: 2px;
          display: flex;
          justify-content: right;
          list-style: none;
      }
  
      &__link {
          display: block;
          padding: 10px 20px;
          color: white;
          text-decoration: none;
          font-weight: bold;
  
          &:hover,
          &:focus {
              background-color: white;
              color: colors.$primary;
          }
      }


.icon{
    height: 20px;
    }
  
  }
