// Hlavni nastaveni barev, velikosti, atd
$primary: #093a62;
$secondary: black;
$terciary: white;

// pouziva se i pokud chci vice typu pisem
$font-base: 'Open Sans', sans-serif;

// nebo si muzu nastavit mezeru pokud se mi nekde casto opakuje
$spacer: 30px;


.header{
    background-color: $primary;
    color: $terciary;


}

.logo_whole{
    display: flex;
}

.header_logo{
    margin-left: 10px;
    margin-top: 10px;

}

.logo_icon{
    height: 100px;

}

.home_icon{
    height: 20px;
}

.menu {
    background-color: $primary;
  
      &__list {
          margin: 0;
          padding: 2px;
          display: flex;
          justify-content: right;
          list-style: none;
      }
  
      &__link {
          display: block;
          padding: 10px 20px;
          color: white;
          text-decoration: none;
          font-weight: bold;
  
          &:hover,
          &:focus {
              background-color: white;
              color: $primary;
          }

      }
  
  }



// FOOTER

.footer {
    background-color: $primary;
    padding: 20px;
    color: white;
    // text-align: center;
    display: grid;
  }

.footer a {
    color: $terciary;
    text-decoration: none;
}

.footer a:hover,
.footer a:focus {
	color: var(--accent);
}

.footer__grid {
	padding: $spacer;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer__copyright {
	font-size: 14px;
	text-align: center;
	color: white;
}

.footer__links {
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: left;
}

.footer__title {
	color: white;
}
