<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google Fonts: Open Sans light 300, light 300 italic, regular 400, regular 400 italic, semibold 600, semibold 600 italic -->

	{# <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">

	<!-- Naše vlastní CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>



<body>
	<div class="wrapper">

		<header class="header">
			<div class="header__inner">

			{# nize je cele logo #}
				<div class="logo">
						<div class="logo__icon">
							<img class="icon" src="/images/logo_icon.png" alt="logo">
						</div>

						<div class="logo__name">
							<div class="logo_title">Trager</div>
							<div class="logo_subtitle">Česká republika</div>
						</div>
				</div>

			{# nize je menu #}
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item"><a href="/" class="menu__link"><img class="icon" src="/images/home_icon.png" alt="home"></a></li>
						<li class="menu__item"><a href="/Co_je_Trager/" class="menu__link">CO JE TRAGER?</a></li>
						<li class="menu__item"><a href="/terapeuti/" class="menu__link">TERAPEUTI</a></li>
						<li class="menu__item"><a href="/Studium_a_akce/" class="menu__link">STUDIUM A AKCE</a></li>
						<li class="menu__item"><a href="/pro_praktikanty/" class="menu__link">PRO PRAKTIKANTY A STUDENTY</a></li>
					</ul>
				</nav>
			</div>

		</header>

		<main class="main">
		<!-- ↑↑↑ odtud nahoru je vrchní část společná pro všechny stránky na webu -->

{{ content | safe }}


        <!-- ↓↓↓ odtud dolů je spodní část společná pro všechny stránky na webu -->
		</main>


		<footer class="footer">
			<div class="footer__grid">

			{# nize je logo #}
				<div class="footer__grid-column">
						<div class="logo">
							<div class="logo__icon">
								<img class="icon" src="/images/logo_icon.png" alt="logo">
							</div>

							<div class="logo__name">
								<p>Trager</p>
								<p>Česká republika</p>
							</div>	
						</div>
				</div>

				{# nize je seznam #}
				<div class="footer__grid-column-levy">
					<h2>Trager ve světě</h2>
					<ul class="footer__links">
						<li><a href="https://www.trager.com/">Trager International</a></li>
						<li><a href="https://www.trager.at/">Trager Austria</a></li>
						<li><a href="https://www.trager.ca/">Trager Canada</a></li>
						<li><a href="https://trager.fi/">Trager Finland</a></li>
						<li><a href="https://tragerfrance.com/">Trager France</a></li>
						<li><a href="https://trager.de/">Trager Germany</a></li>
						<li><a href="http://www.trager-israel.org/">Trager Israel</a></li>
					</ul>
				</div>

				<div class="footer__grid-column-pravy">
					<ul class="footer__links">
						<li><a href="https://www.trager.it/">Trager Italy</a></li>
						<li><a href="https://www.tragerjapan.com/">Trager Japan</a></li>
						<li><a href="https://www.trager.nl/home">Trager Netherlands</a></li>
						<li><a href="https://www.tragerquebec.com/">Trager Quebec</a></li>
						<li><a href="https://www.trager.es/">Trager Spain</a></li>
						<li><a href="http://trager.se/">Trager Sweden</a></li>
						<li><a href="https://www.trager.ch/">Trager Switzerland</a></li>
						<li><a href="https://www.trager.co.uk/">Trager United Kingdom</a></li>
						<li><a href="https://www.tragerapproach.us/">Trager United States</a></li>
					</ul>
				</div>

			</div>

			<div class="footer__copyright">
				&copy;2024, Daniela Mesárošová
			</div>
		</footer>


	</div>
</body>
</html>